## Mercedes-Benz Greener Manufacturing -Encoding

In [19]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv("train.csv",usecols=["X0",'X1','X2','X3','X4','X5','X6','X8'])

In [7]:
df.head()

   X0 X1  X2 X3 X4 X5 X6 X8
0   k  v  at  a  d  u  j  o
1   k  t  av  e  d  y  l  o
2  az  w   n  c  d  x  j  x
3  az  t   n  f  d  x  l  e
4  az  v   n  f  d  h  d  n

In [10]:
for i in df.columns:
    print(df[i].nunique())

47
27
44
7
4
29
12
25

In [13]:
df.X1.value_counts().sort_values(ascending=False).head(10)

aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
Name: X1, dtype: int64

In [14]:
df.X1.value_counts().sort_values(ascending=False).head(10).index

Index(['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o'], dtype='object')

In [15]:
top_10=df.X1.value_counts().sort_values(ascending=False).head(10).index

In [16]:
top_10

Index(['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o'], dtype='object')

In [17]:
top_10=list(top_10)

In [18]:
top_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [27]:
for categorie in top_10:
    df[categorie]=np.where(df['X1']==categorie,1,0)

In [28]:
top_10.append('X1')

In [30]:
df[top_10]

      aa  s  b  l  v  r  i  a  c  o  X1  X1
0      0  0  0  0  1  0  0  0  0  0   0   0
1      0  0  0  0  0  0  0  0  0  0   0   0
2      0  0  0  0  0  0  0  0  0  0   0   0
3      0  0  0  0  0  0  0  0  0  0   0   0
4      0  0  0  0  1  0  0  0  0  0   0   0
...   .. .. .. .. .. .. .. .. .. ..  ..  ..
4204   0  1  0  0  0  0  0  0  0  0   0   0
4205   0  0  0  0  0  0  0  0  0  1   0   0
4206   0  0  0  0  1  0  0  0  0  0   0   0
4207   0  0  0  0  0  1  0  0  0  0   0   0
4208   0  0  0  0  0  1  0  0  0  0   0   0

[4209 rows x 12 columns]